@model Outsourcing.Data.Models.Blog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blogs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaKeywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaKeywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaTitleEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaTitleEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaDescriptionEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDescriptionEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHomePage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHomePage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
