@model Outsourcing.Data.Models.Blogs

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Blogs</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Title, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.TitleENG, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.TitleENG)
                @Html.ValidationMessageFor(model => model.TitleENG)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Slug, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Slug)
                @Html.ValidationMessageFor(model => model.Slug)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.BlogImage, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.BlogImage)
                @Html.ValidationMessageFor(model => model.BlogImage)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Description, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.DescriptionENG, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.DescriptionENG)
                @Html.ValidationMessageFor(model => model.DescriptionENG)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Temp_1, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Temp_1)
                @Html.ValidationMessageFor(model => model.Temp_1)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Temp_2, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Temp_2)
                @Html.ValidationMessageFor(model => model.Temp_2)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Temp_3, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Temp_3)
                @Html.ValidationMessageFor(model => model.Temp_3)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Temp_4, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Temp_4)
                @Html.ValidationMessageFor(model => model.Temp_4)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Temp_5, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Temp_5)
                @Html.ValidationMessageFor(model => model.Temp_5)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Content, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.ContentENG, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.ContentENG)
                @Html.ValidationMessageFor(model => model.ContentENG)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.MetaKeywords, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.MetaKeywords)
                @Html.ValidationMessageFor(model => model.MetaKeywords)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.MetaTitle, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.MetaTitle)
                @Html.ValidationMessageFor(model => model.MetaTitle)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.MetaTitleEN, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.MetaTitleEN)
                @Html.ValidationMessageFor(model => model.MetaTitleEN)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.MetaDescription, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.MetaDescription)
                @Html.ValidationMessageFor(model => model.MetaDescription)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.MetaDescriptionEN, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.MetaDescriptionEN)
                @Html.ValidationMessageFor(model => model.MetaDescriptionEN)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.IsAvailable, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.IsAvailable)
                @Html.ValidationMessageFor(model => model.IsAvailable)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.IsHomePage, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.IsHomePage)
                @Html.ValidationMessageFor(model => model.IsHomePage)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Deleted, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Deleted)
                @Html.ValidationMessageFor(model => model.Deleted)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.DateCreated, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.DateCreated)
                @Html.ValidationMessageFor(model => model.DateCreated)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.LastEditedTime, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.LastEditedTime)
                @Html.ValidationMessageFor(model => model.LastEditedTime)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PictureId, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.PictureId)
                @Html.ValidationMessageFor(model => model.PictureId)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.BlogCategoryId, "BlogCategoryId", new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.DropDownList("BlogCategoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.BlogCategoryId)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Position, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Position)
                @Html.ValidationMessageFor(model => model.Position)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
