@model Outsourcing.Data.Models.HMS.CategoryHotels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoryHotels</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SharePercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SharePercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Layout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Layout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStaticPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStaticPage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.string1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.string1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
