@model Labixa.ViewModels.RoomDetailViewModel
@{
    HttpCookie cookie = Request.Cookies["_culture"];
    var longRooom = Outsourcing.Data.Models.RoomType.LongTemp;
    var shortRoom = Outsourcing.Data.Models.RoomType.ShortTemp;
    ViewBag.Title = "HomeStay, cho thuê phòng ngắn hạn , phòng dài hạn, nơi trãi nghiệm sự sang trọng, tiện nghi và thoải mái - DalatAmazing |dalatamazing.com.vn";
    ViewBag.Description = "Chúng tôi tin tưởng trong việc cung cấp dịch vụ khách hàng tuyệt vời." +
        "Homestay của chúng tôi Sang Trọng, Đầy Đủ Tiện Nghi giúp Khách Hàng Thoải Mái cho kì nghỉ của mình" +
        "Chúng tôi sẽ đáp ứng các nhu cầu của khách hàng một cách tốt nhất. Nếu bạn có bất kỳ câu hỏi, ý kiến hoặc đề nghị, vui lòng liên hệ cho chúng tôi " +
        "Chúng tôi rất mong nhận được phản hồi từ bạn. ";
    ViewBag.Keywords = "dalatamazing.com.vn, dalatamazing, homestay, phòng đẹp , chỗ nghỉ dưỡng tốt";
    Layout = "~/Views/Shared/_LayoutHMS.cshtml";
}
<style>
    .text-danger {
        color: #a94442 !important;
    }
</style>
<section class="row final-inner-header">
    <div class="container">
        <h2 class="this-title">@Html.Raw(Resources.Resources.HMS_RoomDetail)</h2>
    </div>
</section>
<section class="row final-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">@Html.Raw(Resources.Resources.HMS_Home)</a></li>
            <li><a href="/danh-sach-phong-ngan-han" class="active">@Html.Raw(Resources.Resources.HMS_RoomDetail)</a></li>
        </ol>
    </div>
</section>
<section class="container clearfix common-pad-inner">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="single-sidebar-widget sroom-sidebar">
                <div class="book-r-form">
                    @if (Model.Room.Type == shortRoom)
                    {
                        <div class="book-form">
                            <div class="col-md-12" style="padding-bottom:10px">
                                <b>@Html.Raw(Resources.Resources.HMS_StartDate)</b>
                                <input type="text" name="CheckIn" id="startDay" max="3000-12-31" min="1000-01-01" class="form-control dateclass placeholderclass" readonly
                                       data-toggle="tooltip" data-placement="top" title="Ngày Đến" placeholder="@Html.Raw(Resources.Resources.HMS_StartDate)" onClick="$(this).removeClass('placeholderclass')">
                                <small><span class="text-danger error-check-in hidden">Sai Định Dạng Ngày (dd/MM/yyyy)</span></small>
                            </div>
                            <div class="col-md-12" style="padding-bottom:10px">
                                <b>@Html.Raw(Resources.Resources.HMS_EndDate)</b>
                                <input type="text" name="CheckOut" id="endDay" max="3000-12-31" min="1000-01-01" class="form-control dateclass placeholderclass" readonly
                                       data-toggle="tooltip" data-placement="top" title="Ngày Đến" placeholder="@Html.Raw(Resources.Resources.HMS_EndDate)" onClick="$(this).removeClass('placeholderclass')">
                                <small><span class="text-danger error-check-out hidden">Sai Định Dạng Ngày (dd/MM/yyyy)</span></small>
                            </div>
                            <div class="col-md-12" style="padding-bottom:10px">
                                <b>@Html.Raw(Resources.Resources.HMS_PeopleNumber)</b>
                                <div class="select-box">
                                    <select name="selectMenu" class="select-menu" id="selectMenu">
                                        <option value="default">@Html.Raw(Resources.Resources.HMS_PeopleNumber)</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="chk-button">
                                    <button type="submit" class="res-btn" onclick="bookingShortRoom()">
                                        @Html.Raw(Resources.Resources.HMS_Booking)
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <div class="sec-header">
                                            <h2>@Html.Raw(Resources.Resources.HMS_Booking)</h2>
                                        </div>
                                        <form id="contactBooking"
                                              action="/RoomVer3/BookingRoom" method="post">
                                            <div class="row">
                                                <div class="col-lg-8 col-sm-12">
                                                    <div class="book-left-content input_form">
                                                        <div class="row form-group">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12 formbooking">
                                                                <input id="CustomerName" type="text" name="Name" placeholder="@Html.Raw(Resources.Resources.HMS_Name)" class="form-control">
                                                                <small><span class="text-danger error-name hidden">Vui lòng nhập tên</span></small>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                                                                <input id="CustomerEmail" type="email" name="Email" placeholder="@Html.Raw(Resources.Resources.HMS_Email)" class="form-control">
                                                                <small><span class="text-danger error-email-none hidden">Vui lòng nhập email </span></small>
                                                                <small><span class="text-danger error-email hidden">Sai Định Dạng Email</span></small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12 formbooking">
                                                                <input type="text" name="CheckIn" id="startDayRoom" max="3000-12-31" min="1000-01-01" class="form-control dateclass" readonly
                                                                       placeholder="Ngày đến" data-toggle="tooltip" data-placement="top" title="Ngày Đến" @*placeholder="@Html.Raw(Resources.Resources.HMS_StartDate)"*@ onClick="$(this).removeClass('placeholderclass')">
                                                                <small><span class="text-danger error-start-none hidden">Vui lòng nhập ngày đến </span></small>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                                                                <input type="text" name="CheckOut" id="endDayRoom" max="3000-12-31" min="1000-01-01" class="form-control dateclass" readonly
                                                                       placeholder="Ngày đi" data-toggle="tooltip" data-placement="top" title="Ngày Đi" @*placeholder="@Html.Raw(Resources.Resources.HMS_EndDate)"*@ onClick="$(this).removeClass('placeholderclass')">
                                                                <small><span class="text-danger error-end-none hidden">Vui lòng nhập ngày đi </span></small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                                                                <div class="select-box">
                                                                    <select name="AmountOfPeople" class="form-control" style="cursor: pointer;" id="CustomeNumber">
                                                                        <option value="default">@Html.Raw(Resources.Resources.HMS_PeopleNumber)</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                    </select>
                                                                </div>
                                                                <small><span class="text-danger error-numberPeople hidden">Vui lòng nhập số lượng người</span></small>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                                                                <input id="CustomerPhone" type="text" name="Phone" placeholder="@Html.Raw(Resources.Resources.HMS_Phone)"
                                                                       class="form-control" onkeypress="return isNumberKey(event)">
                                                                <small><span class="text-danger error-phone hidden">Số điện thoại không hợp lệ </span></small>
                                                                <small><span class="text-danger error-phone-none hidden">vui lòng nhập số điện thoại </span></small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <textarea id="message" rows="6" name="Note" placeholder="@Html.Raw(Resources.Resources.HMS_Message)"
                                                                          class="form-control" style="height:200px;"></textarea>
                                                                <small><span class="text-danger error-content hidden">vui lòng không để trống nội dung</span></small>
                                                            </div>
                                                        </div>
                                                        <input type="text" name="RoomId" value="@Model.Room.Id" style="display:none;">
                                                        <input type="text" name="Price" value="@Model.Room.Price" style="display:none;">
                                                        <input type="text" name="Name" value="@Model.Room.Name" style="display:none;">


                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-sm-12">
                                                    <div class="single-sidebar-widget">
                                                        <div class="single-sidebar-widget-outer">
                                                            <div class="sec-title-cat sec-title">
                                                                <h2>@Html.Raw(Resources.Resources.HMS_Benefit)</h2>
                                                            </div>
                                                            <div class="categories">
                                                                <ul>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" id="action" value="true" name="Book_Motobike">
                                                                            <label class="form-check-label" for="defaultCheck1">
                                                                                @Html.Raw(Resources.Resources.HMS_RentVerhical)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck2" name="Book_Tour">
                                                                            <label class="form-check-label" for="defaultCheck2">
                                                                                Tour
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck3" name="BookCar">
                                                                            <label class="form-check-label" for="defaultCheck3">
                                                                                @Html.Raw(Resources.Resources.HMS_Cars)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck4" name="Book_BBQService">
                                                                            <label class="form-check-label" for="defaultCheck4">
                                                                                @Html.Raw(Resources.Resources.HMS_BBQ)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck5" name="Book_Gift">
                                                                            <label class="form-check-label" for="defaultCheck5">
                                                                                @Html.Raw(Resources.Resources.HMS_Souvenir)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck6" name="Book_Laundry">
                                                                            <label class="form-check-label" for="defaultCheck6">
                                                                                @Html.Raw(Resources.Resources.HMS_Laundry)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck7" name="Book_FlightTicket">
                                                                            <label class="form-check-label" for="defaultCheck7">
                                                                                @Html.Raw(Resources.Resources.HMS_AirTicket)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck8" name="Book_Visa">
                                                                            <label class="form-check-label" for="defaultCheck8">
                                                                                Visa
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck9" name="Book_Taxi">
                                                                            <label class="form-check-label" for="defaultCheck9">
                                                                                @Html.Raw(Resources.Resources.HMS_AirportTaxi)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck10" name="Book_SuggestionTour">
                                                                            <label class="form-check-label" for="defaultCheck10">
                                                                                @Html.Raw(Resources.Resources.HMS_Location)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                @*<div class="row">*@
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <button type="submit" class="res-btn" id="submitBtn">
                                                        @Html.Raw(Resources.Resources.HMS_Booking)
                                                    </button>
                                                </div>
                                                @*</div>*@

                                            </div>
                                        </form>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">@Html.Raw(Resources.Resources.HMS_Close)</button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Room.Type == longRooom)
                    {
                        <div class="book-form">
                            <div class="col-md-12">
                                <div class="chk-button">
                                    <button type="submit" class="res-btn" data-toggle="modal"
                                            data-target="#exampleModalCenter">
                                        @Html.Raw(Resources.Resources.HMS_Booking)
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">

                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <div class="sec-header">
                                            <h2>@Html.Raw(Resources.Resources.HMS_Booking)</h2>
                                        </div>
                                        <form id="contactBookingLongRoom"
                                              action="/RoomVer3/BookingLongRoom" method="post">
                                            <div class="row">
                                                <div class="col-lg-8 col-sm-12">
                                                    <div class="book-left-content input_form">

                                                        <div class="row form-group">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                                                                <input id="NameLR" type="text" name="Name" placeholder="@Html.Raw(Resources.Resources.HMS_Name)" class="form-control formbooking" required>
                                                                <small><span class="text-danger errorLR-name hidden">Vui lòng nhập tên </span></small>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                                                                <input id="EmailLR" type="email" name="Email" placeholder="@Html.Raw(Resources.Resources.HMS_Email)" class="form-control" required>
                                                                <small><span class="text-danger errorLR-email-none hidden">Vui lòng nhập email </span></small>
                                                                <small><span class="text-danger errorLR-email hidden">Sai Định Dạng Email</span></small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                                                                <div class="select-box">
                                                                    <select name="AmountOfPeople" class="form-control" style="cursor: pointer;" id="CustomeNumberLR" required>
                                                                        <option value="default">@Html.Raw(Resources.Resources.HMS_PeopleNumber)</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                    </select>
                                                                </div>
                                                                <small><span class="text-danger errorLR-numberPeople hidden">Vui lòng chọn số lượng người </span></small>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                                                                <input id="PhoneLR" type="text" name="Phone" placeholder="@Html.Raw(Resources.Resources.HMS_Phone)" required
                                                                       class="form-control" onkeypress="return isNumberKey(event)">
                                                                <small><span class="text-danger errorLR-phone-none hidden">Vui lòng nhập Số điện thoại </span></small>
                                                                <small><span class="text-danger errorLR-phone hidden">Sai Định Dạng Số điện thoại sai</span></small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <textarea id="messageLR" rows="6" name="Note" placeholder="@Html.Raw(Resources.Resources.HMS_Message)" required
                                                                          class="form-control" style="height:200px;"></textarea>
                                                                <small><span class="text-danger errorLR-content hidden">Vui lòng nhập  nội dung  </span></small>
                                                            </div>
                                                        </div>
                                                        <input type="text" name="RoomId" value="@Model.Room.Id" style="display:none;">
                                                        <input type="text" name="Price" value="@Model.Room.Price" style="display:none;">
                                                        <input type="text" name="Name" value="@Model.Room.Name" style="display:none;">
                                                        @*<div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <button type="submit" class="res-btn" id="submitBtnLR">
                                                                        @Html.Raw(Resources.Resources.HMS_Booking)
                                                                    </button>
                                                                </div>
                                                            </div>*@
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-sm-12">
                                                    <div class="single-sidebar-widget">
                                                        <!-- Categories style-->
                                                        <div class="single-sidebar-widget-outer">
                                                            <div class="sec-title-cat sec-title">
                                                                <h2>@Html.Raw(Resources.Resources.HMS_Benefit)</h2>
                                                            </div>
                                                            <div class="categories">
                                                                <ul>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" id="action" value="true" name="Book_Motobike">
                                                                            <label class="form-check-label" for="defaultCheck1">
                                                                                @Html.Raw(Resources.Resources.HMS_RentVerhical)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck2" name="Book_Tour">
                                                                            <label class="form-check-label" for="defaultCheck2">
                                                                                Tour
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck3" name="BookCar">
                                                                            <label class="form-check-label" for="defaultCheck3">
                                                                                @Html.Raw(Resources.Resources.HMS_Cars)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck4" name="Book_BBQService">
                                                                            <label class="form-check-label" for="defaultCheck4">
                                                                                @Html.Raw(Resources.Resources.HMS_BBQ)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck5" name="Book_Gift">
                                                                            <label class="form-check-label" for="defaultCheck5">
                                                                                @Html.Raw(Resources.Resources.HMS_Souvenir)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck6" name="Book_Laundry">
                                                                            <label class="form-check-label" for="defaultCheck6">
                                                                                @Html.Raw(Resources.Resources.HMS_Laundry)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck7" name="Book_FlightTicket">
                                                                            <label class="form-check-label" for="defaultCheck7">
                                                                                @Html.Raw(Resources.Resources.HMS_AirTicket)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck8" name="Book_Visa">
                                                                            <label class="form-check-label" for="defaultCheck8">
                                                                                Visa
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck9" name="Book_Taxi">
                                                                            <label class="form-check-label" for="defaultCheck9">
                                                                                @Html.Raw(Resources.Resources.HMS_AirportTaxi)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="true" id="defaultCheck10" name="Book_SuggestionTour">
                                                                            <label class="form-check-label" for="defaultCheck10">
                                                                                @Html.Raw(Resources.Resources.HMS_Location)
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <button type="submit" class="res-btn" id="submitBtnLR">
                                                        @Html.Raw(Resources.Resources.HMS_Booking)
                                                    </button>
                                                </div>




                                            </div>
                                        </form>
                                        <div class=row>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">@Html.Raw(Resources.Resources.HMS_Close)</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="single-sidebar-widget-outer">
                    <div class="sec-title">
                        <h2>@Html.Raw(Resources.Resources.HMS_BudgetRooms)</h2>
                    </div>
                    <div class="popular-post">
                        <ul>
                            @foreach (var iterm in Model.RelatedRooms)
                            {
                                if (cookie.Value.Equals("vi"))
                                {
                                    <li class="img-cap-effect">
                                        <div class="img-box">
                                            <a href="/chi-tiet-phong/@iterm.Slug-@iterm.Id">
                                                <img src="@iterm.RoomImageMappings.FirstOrDefault().RoomImage.Url" alt="" style="width:100px">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <a href="/chi-tiet-phong/@iterm.Slug-@iterm.Id">
                                                <h4>@iterm.Name</h4>
                                            </a>
                                           
                                            <p>@iterm.Price.ToString("#,##0")/Ngày</p>

                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="img-cap-effect">
                                        <div class="img-box">
                                            <a href="/chi-tiet-phong/@iterm.Slug-@iterm.Id">
                                                <img src="@iterm.RoomImageMappings.FirstOrDefault().RoomImage.Url" alt="" style="width:100px">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <a href="/chi-tiet-phong/@iterm.Slug-@iterm.Id">
                                                <h4>@iterm.NameEnglish</h4>
                                            </a>
                                           
                                            <p>@{var value = (iterm.Price / 23000).ToString("#,##0");} @value$ / Day</p>
                                        </div>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="single-room-wrapper">
                <div class="room-slider-wrapper">
                    <div class="single-r-wrapper">
                        <div class="single-sl-room">
                            <div data-hash="zero" class="owl-itemm"> <img src="@Model.Room.RoomImageMappings.FirstOrDefault().RoomImage.Url" alt=""></div>
                            <div data-hash="one" class="owl-itemm">  <img src="@Model.Room.RoomImageMappings.ElementAt(1).RoomImage.Url" alt=""></div>
                            <div data-hash="two" class="owl-itemm">   <img src="@Model.Room.RoomImageMappings.ElementAt(2).RoomImage.Url" alt=""></div>
                            <div data-hash="three" class="owl-itemm">  <img src="@Model.Room.RoomImageMappings.ElementAt(3).RoomImage.Url" alt=""></div>
                            <div data-hash="four" class="owl-itemm">  <img src="@Model.Room.RoomImageMappings.LastOrDefault().RoomImage.Url  " alt=""></div>
                        </div>
                        <a href="#zero" class="button secondary url"> <img src="@Model.Room.RoomImageMappings.FirstOrDefault().RoomImage.Url" alt=""></a>
                        <a href="#one" class="button secondary url"> <img src="@Model.Room.RoomImageMappings.ElementAt(1).RoomImage.Url" alt=""></a>
                        <a href="#two" class="button secondary url"> <img src="@Model.Room.RoomImageMappings.ElementAt(2).RoomImage.Url" alt=""></a>
                        <a href="#three" class="button secondary url"> <img src="@Model.Room.RoomImageMappings.ElementAt(3).RoomImage.Url" alt=""></a>
                        <a href="#four" class="button secondary url"> <img src="@Model.Room.RoomImageMappings.LastOrDefault().RoomImage.Url  " alt=""></a>
                    </div>
                </div>
                <div class="room-dec-wrapper">
                    @if (cookie.Value.Equals("vi"))
                    {
                        <div class="room-dec-wrapper">
                            <h2>@Model.Room.Name</h2>
                            <p>@Html.Raw(Model.Room.MetaDescription)</p>
                            <p>@Html.Raw(Model.Room.Description)</p>
                        </div>
                    }
                    else
                    {
                        <div class="room-dec-wrapper">
                            <h2>@Model.Room.NameEnglish</h2>
                            <p>@Html.Raw(Model.Room.MetaTitle)</p>
                            <p>@Html.Raw(Model.Room.DescriptionEnglish)</p>
                            <input type="text" name="@Model.Room.Id" value="@Model.Room.Id" style="display:none;">
                        </div>
                    }
                </div>
                <div class="room-fac-wrapper">
                    <h2>Room Facilities</h2>
                    <div class="row">
                        <div class="ro-facilitie">
                            <ul class="clearfix">
                                @if (Model.Room.Utility_Tivi)
                                {
                                    <li>
                                        <div class="facilitie-i-box">

                                            <h3>@Resources.Resources.HMS_UtilityTivi</h3><span>@*<img src="images/rooms/icon1.gif" alt="">*@</span>
                                        </div>
                                    </li>
                                }
                                @if (Model.Room.Utility_TuDo)
                                {
                                    <li>
                                        <div class="facilitie-i-box">
                                            <h3>@Resources.Resources.HMS_UtilityTuDo</h3><span>@*<img src="images/rooms/icon2.gif" alt="">*@</span>
                                        </div>
                                    </li>
                                }
                                @if (Model.Room.Utility_DryHair)
                                {
                                    <li>
                                        <div class="facilitie-i-box">
                                            <h3>@Resources.Resources.HMS_UtilityDryHair</h3><span>@*<img src="images/rooms/icon2.gif" alt="">*@</span>
                                        </div>
                                    </li>
                                }
                                @if (Model.Room.Utility_HotWater)
                                {
                                    <li>
                                        <div class="facilitie-i-box">
                                            <h3>@Resources.Resources.HMS_UtilityHotWater</h3><span>@*<img src="images/rooms/icon2.gif" alt="">*@</span>
                                        </div>
                                    </li>
                                }
                                @if (Model.Room.Utility_Iron)
                                {
                                    <li>
                                        <div class="facilitie-i-box">
                                            <h3>@Resources.Resources.HMS_Utility_Iron</h3><span>@*<img src="images/rooms/icon2.gif" alt="">*@</span>
                                        </div>
                                    </li>
                                }
                                @if (Model.Room.Utility_Kitchen)
                                {
                                    <li>
                                        <div class="facilitie-i-box">
                                            <h3>@Resources.Resources.HMS_Utility_Kitchen</h3><span>@*<img src="images/rooms/icon2.gif" alt="">*@</span>
                                        </div>
                                    </li>
                                }
                                @if (Model.Room.Utility_Snack)
                                {
                                    <li>
                                        <div class="facilitie-i-box">
                                            <h3>@Resources.Resources.HMS_Utility_Snack</h3><span>@*<img src="images/rooms/icon2.gif" alt="">*@</span>
                                        </div>
                                    </li>
                                }
                                @if (Model.Room.Utility_TeaCoffee)
                                {
                                    <li>
                                        <div class="facilitie-i-box">
                                            <h3>@Resources.Resources.HMS_Utility_TeaCoffee</h3><span>@*<img src="images/rooms/icon2.gif" alt="">*@</span>
                                        </div>
                                    </li>
                                }
                                @if (Model.Room.Utility_WashMachine)
                                {
                                    <li>
                                        <div class="facilitie-i-box">
                                            <h3>@Resources.Resources.HMS_Utility_WashMachine</h3><span>@*<img src="images/rooms/icon2.gif" alt="">*@</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var check = false;
    var checkLR = false;
    var contactBooking = $('#contactBooking');
    var contactBoookingLR = $('#contactBookingLongRoom');
    var submitBtn = $('#submitBtn');
    var submitLR = $('#submitBtnLR');
    $(function () {
        pickingDate();
        pickingDateModal()
        submitForm();
        submitFormLR();
    });
    function submitForm() {
        submitBtn.click(function (e) {
            check = validateModalForm();
            if (check) {
                alert("Đặt Phòng Thành Công");
                contactBooking.submit();
            } else {
                e.preventDefault();
            }
        });
    }
    function submitFormLR() {
        submitLR.click(function (e) {
            checkLR = validateModelLongRoom();
            if (checkLR) {
                alert("Đặt Phòng Thành Công");
                contactBoookingLR.submit();
            } else {
                e.preventDefault();
            }
        });
    }
    function pickingDate() {
        var currentDate = new Date();
        var fromModal = $("#startDayRoom");
        var toModal = $("#endDayRoom");
        var dateFormat = "dd/mm/yy",
            from = $("#startDay")
                .datepicker({
                    dateFormat: 'dd/mm/yy',
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    minDate: currentDate
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", convertDate(this, dateFormat));
                    toModal.datepicker("option", "minDate", convertDate(this, dateFormat));
                }),
            to = $("#endDay").datepicker({
                dateFormat: 'dd/mm/yy',
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                minDate: currentDate
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", convertDate(this, dateFormat));
                    fromModal.datepicker("option", "maxDate", convertDate(this, dateFormat));
                });
    }
    function pickingDateModal() {
        var currentDate = new Date();
        var dateFormat = "dd/mm/yy",
            from = $("#startDayRoom")
                .datepicker({
                    dateFormat: 'dd/mm/yy',
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    minDate: currentDate
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", convertDate(this, dateFormat));
                }),
            to = $("#endDayRoom").datepicker({
                dateFormat: 'dd/mm/yy',
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                minDate: currentDate
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", convertDate(this, dateFormat));
                });
    }
    function convertDate(element, dateFormat) {
        var date;
        try {
            date = $.datepicker.parseDate(dateFormat, element.value);
        } catch (error) {
            date = null;
        }
        return date;
    }
    function isValidDate(dateString) {
        var regEx = /(?:0[1-9]|[12][0-9]|3[01])\/(?:0[1-9]|1[0-2])\/(?:19|20\d{2})/;
        if (!dateString.val().match(regEx)) return false;  // Invalid format
        if (dateString.val().length > 10) return false;
        return true;
    }
    function isValidGmail(gmailString) {
        var regex = /^[a-zA-Z0-9_.-]+@@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{0,4}$/;
        if (!regex.test(gmailString))
            return false;
        return true;
    }
    function isValidPhone(phoneString) {
        if (phoneString.length != 10) {
            return false;
        }
        return true;
    }
    function validateModalForm() {
        var customerName, customerEmail, customerPhone, message, CustomeNumber, dateStart, dateEnd;
        customerEmail = $('#CustomerEmail').val();
        customerPhone = $('#CustomerPhone').val();
        customerName = $('#CustomerName').val();
        CustomeNumber = $('#CustomeNumber').val();
        dateStart = $('#startDayRoom').val();
        dateEnd = $('#endDayRoom').val();
        message = $('#message').val();
        if (customerName == "") {
            $('.error-name').removeClass('hidden');
            return false;
        } else {
            $('.error-name').addClass('hidden');
        }
        if (customerEmail == "") {
            $('.error-email-none').removeClass('hidden');
            return false;
        } else {
            $('.error-email-none').addClass('hidden');
        }
        if (!isValidGmail(customerEmail)) {
            $('.error-email').removeClass('hidden');
            return false;
        } else {
            $('.error-email').addClass('hidden');
        }
        if (dateStart == "") {
            $('.error-start-none').removeClass('hidden');
            return false;
        } else {
            $('.error-start-none').addClass('hidden');
        }
        if (dateEnd == "") {
            $('.error-end-none').removeClass('hidden');
            return false;
        } else {
            $('.error-end-none').addClass('hidden');
        }
        if (CustomeNumber == "default") {
            $('.error-numberPeople').removeClass('hidden');
            return false;
        } else {
            $('.error-numberPeople').addClass('hidden');
        }
        if (customerPhone == "") {
            $('.error-phone-none').removeClass('hidden');
            return false;
        } else {
            $('.error-phone-none').addClass('hidden');
        }
        if (!isValidPhone(customerPhone)) {
            $('.error-phone').removeClass('hidden');
            return false;
        } else {
            $('.error-phone').addClass('hidden');
        }
        if (message == "") {
            $('.error-content').removeClass('hidden');
            return false;
        } else {
            $('.error-content').addClass('hidden');

        }
        return true;
    }
    function validateModelLongRoom() {
        var nameLR, emailLR, phoneLR, messageLR, numberLR;
        emailLR = $('#EmailLR').val();
        phoneLR = $('#PhoneLR').val();
        nameLR = $('#NameLR').val();
        numberLR = $('#CustomeNumberLR').val();
        messageLR = $('#messageLR').val();
        if (nameLR == "") {
            $('.errorLR-name').removeClass('hidden');
            return false;
        } else {
            $('.errorLR-name').addClass('hidden');
        }
        if (emailLR == "") {
            $('.errorLR-email-none').removeClass('hidden');
            return false;
        } else {
            $('.errorLR-email-none').addClass('hidden');
        }
        if (!isValidGmail(emailLR)) {
            $('.errorLR-email').removeClass('hidden');
            return false;
        } else {
            $('.errorLR-email').addClass('hidden');
        }
        if (numberLR == "default") {
            $('.errorLR-numberPeople').removeClass('hidden');
            return false;
        } else {
            $('.errorLR-numberPeople').addClass('hidden');
        }
        if (phoneLR == "") {
            $('.errorLR-phone-none').removeClass('hidden');
            return false;
        } else {
            $('.errorLR-phone-none').addClass('hidden');
        }
        if (!isValidPhone(phoneLR)) {
            $('.errorLR-phone').removeClass('hidden');
            return false;
        } else {
            $('.errorLR-phone').addClass('hidden');
        }
        if (messageLR == "") {
            $('.errorLR-content').removeClass('hidden');
            return false;
        } else {
            $('.errorLR-content').addClass('hidden');

        }
        return true;
    }
    function bookingShortRoom() {
        var startDay, endDay, selectMenu;
        startDay = $('#startDay').val();
        endDay = $('#endDay').val();
        selectMenu = $('#selectMenu').val();
        $('#startDayRoom').val(startDay);
        $('#endDayRoom').val(endDay);
        $('#CustomeNumber').val(selectMenu);
        $("#exampleModalCenter").modal('show');
    }
</script>
