@using PagedList.Mvc;
@model PagedList.IPagedList<Outsourcing.Data.Models.Room>
@{
    Layout = "~/Views/Shared/_LayoutHMS.cshtml";
    HttpCookie cookie = Request.Cookies["_culture"];
    ViewBag.Title = "HomeStay, cho thuê phòng ngắn hạn , phòng dài hạn, nơi trãi nghiệm sự sang trọng, tiện nghi và thoải mái - DalatAmazing |dalatamazing.com.vn";
    ViewBag.Description = "Chúng tôi tin tưởng trong việc cung cấp dịch vụ khách hàng tuyệt vời." +
        "Nếu bạn có bất kỳ câu hỏi, ý kiến hoặc đề nghị, vui lòng liên hệ cho chúng tôi " +
        "Chúng tôi rất mong nhận được phản hồi từ bạn. ";
    ViewBag.Keywords = "dalatamazing.com.vn, dalatamazing, homestay, phòng đẹp , chỗ nghỉ dưỡng tốt";
    Layout = "~/Views/Shared/_LayoutHMS.cshtml";
}
<section class="row final-inner-header">
    <div class="container">
        <h2 class="this-title">@Html.Raw(Resources.Resources.HMS_LongRoom)</h2>
    </div>
</section>
<section class="row final-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">@Html.Raw(Resources.Resources.HMS_Home)</a></li>
            <li><a href="/danh-sach-phong-dai-han" class="active">@Html.Raw(Resources.Resources.HMS_LongRoom)</a></li>
        </ol>
    </div>
</section>
<section class="container clearfix common-pad-inner about-info-box nasir-room-grid-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="sec-header3">
                <h2>@Html.Raw(Resources.Resources.HMS_LongRoom)</h2>
                <h3></h3>
            </div>
        </div>
    </div>
</section>
<section class="row nasir-room-grid">
    <div class="container">
        <div class="row">
            @{
                if (!Model.Any())
                {
                    if (cookie.Value.Equals("vi"))
                    {
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h1 style="padding-left:10px;">Không có dữ liệu</h1>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h1 style="padding-left:10px;">No Data</h1>
                            </div>
                        </div>
                    }
                }
                else
                {
                    foreach (var iterm in Model)
                    {
                        if (cookie.Value.Equals("vi"))
                        {
                            <div class="col-sm-4 nroom-grid">

                                @if (!iterm.RoomImageMappings.Any())
                                {
                                    <a href="/chi-tiet-phong/@iterm.Slug-@iterm.Id" class="room-img">
                                        <img src="~/Content/HMS/images/rooms/1.jpg" alt="">
                                    </a>
                                }
                                else
                                {
                                    <a href="/chi-tiet-phong/@iterm.Slug-@iterm.Id" class="room-img">
                                        <img src="@iterm.RoomImageMappings.FirstOrDefault().RoomImage.Url" alt="">
                                    </a>
                                }
                                <div class="row this-conts">
                                    <div class="media">
                                        <div class="media-body this-title">@iterm.Name</div>
                                        <div class="media-right">@iterm.Price.ToString("#,##0")<small>Tháng</small></div>
                                    </div>
                                    <p>@Html.Raw(iterm.MetaTitle)</p><a href="/chi-tiet-phong/@iterm.Slug-@iterm.Id" class="read-more">Xem Thêm<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-4 nroom-grid">
                                @if (!iterm.RoomImageMappings.Any())
                                {
                                    <a href="/chi-tiet-phong/@iterm.Slug-@iterm.Id" class="room-img">
                                        <img src="~/Content/HMS/images/rooms/1.jpg" alt="">
                                    </a>
                                }
                                else
                                {
                                    <a href="/chi-tiet-phong/@iterm.Slug-@iterm.Id" class="room-img">
                                        <img src="@iterm.RoomImageMappings.FirstOrDefault().RoomImage.Url" alt="">
                                    </a>
                                }
                                <div class="row this-conts">
                                    <div class="media">
                                        <div class="media-body this-title">@iterm.NameEnglish</div>
                                        <div class="media-right">@{var value = (iterm.Price / 23000).ToString("#,##0");} @value$<small>Month</small></div>
                                    </div>
                                    <p>@Html.Raw(iterm.MetaDescription)</p><a href="/chi-tiet-phong/@iterm.Slug-@iterm.Id" class="read-more">view room<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
        <div>
            @Html.PagedListPager(Model, page => Url.Action("LongRoom", new { page }))
        </div>
    </div>
</section>
