
@using PagedList.Mvc;
@*khai bao thu vien pagelist*@
@model IEnumerable<Outsourcing.Data.Models.HMS.Room>

@*don nhan du lieu dang IPagedList<Blog>*@



@{

    ViewBag.Title = "ShortRoom";
    Layout = "~/Views/Shared/_LayoutHMS.cshtml";
    HttpCookie cookie = Request.Cookies["_culture"];
}

<section class="row final-inner-header">
    <div class="container">
        <h2 class="this-title">@Html.Raw(Resources.Resources.HMS_Rooms)</h2>
    </div>
</section>
<section class="row final-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">@Html.Raw(Resources.Resources.HMS_Home)</a></li>
            <li><a href="/danh-sach-phong-ngan-han" class="active">@Html.Raw(Resources.Resources.HMS_Rooms)</a></li>
        </ol>
    </div>
</section>
<!-- Header  Slider style-->
<!-- News style-->
<!-- About Resort style-->
<section class="container clearfix common-pad-inner about-info-box nasir-room-grid-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="sec-header3">
                <h2>@Html.Raw(Resources.Resources.HMS_Rooms)</h2>
                <h3></h3>
            </div>
        </div>
    </div>
</section>
<!-- About Resort style-->
<section class="row nasir-room-grid">
    <div class="container">
        <div class="row">

            @foreach (var iterm in Model)
            {
                if (cookie.Value.Equals("vi"))
                {
                    <div class="col-sm-4 nroom-grid">


                        <a href="/chi-tiet-phong-ngan-han/@iterm.Slug" class="room-img">

                            <img src="@iterm.RoomImageMappings.FirstOrDefault().RoomImage.Url" alt="">

                        </a>
                        <div class="row this-conts">
                            <div class="media">
                                <div class="media-body this-title">@iterm.Name</div>
                                <div class="media-right">@iterm.Price.ToString("#,##0")<small>Ngày</small></div>
                            </div>
                            <p>@Html.Raw(iterm.MetaDescription)</p><a href="/chi-tiet-phong-ngan-han/@iterm.Slug" class="read-more">xem phòng<i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-4 nroom-grid">
                        @*<img src="@iterm.RoomImageMappings.FirstOrDefault().RoomImage.Url" alt="">*@

                        <a href="/chi-tiet-phong-ngan-han/@iterm.Slug" class="room-img">

                            <img src="@iterm.RoomImageMappings.FirstOrDefault().RoomImage.Url" alt="">

                        </a>
                        <div class="row this-conts">
                            <div class="media">
                                <div class="media-body this-title">@iterm.EnglishName</div>
                                <div class="media-right">@{var value = (iterm.Price / 23000).ToString("#,##0");} @value$<small>Day</small></div>
                            </div>
                            <p>@Html.Raw(iterm.MetaTitle)</p><a href="/chi-tiet-phong-ngan-han/@iterm.Slug" class="read-more">view room<i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                }


            }
        </div>
        <div>
            @*@Html.PagedListPager(Model, page => Url.Action("ShortRoom", new { page }))*@
        </div>
    </div>

</section>
