@model List<Labixa.Areas.Portal.ViewModels.WebsiteAtribute.WebsiteAttributeManageModel>
@using Outsourcing.Data.Models

@{
    ViewBag.Title = "Index";
    var count = 0;
}
@section scripts{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
}
@section breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Quản lý Website</li>
        </ul>
    </div>
}


<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-block alert-info">
                Chỉnh sửa Thuộc tính
            </div>

            @using (Html.BeginForm("EditAll", "WebsiteAttribute", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <div class="tabbable">
                    <div class="tab-content">
                        <ul class="nav nav-tabs" id="myTab">
                            @foreach (var listItem in Model)
                            {
                                count++;
                                var href = "#tab" + count;
                                var isActive = Model.IndexOf(listItem) == 0 ? "active" : "";
                                <li class="@isActive">
                                    <a data-toggle="tab" href="@href">
                                        @*<i class="green icon icon-home bigger-120"></i>*@
                                        @count
                                    </a>
                                </li>
                            }

                        </ul>


                        <div class="tab-content">
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                var isActive = i == 0 ? "active" : "";
                                var href = "tab" + (i + 1);
                            <div id="@href" class="tab-pane fade @isActive in">
                                @for (int f = 0; f < Model[i].WebsiteAttributes.Count(); f++)
                                {
                                    @*@Html.EditorFor(model => Model[i].WebsiteAttributes[f])*@
                                    @Html.HiddenFor(model => Model[i].WebsiteAttributes[f].Id)
                                    <div class="form-group">
                                        @Html.LabelFor(model => Model[i].WebsiteAttributes[f].Name, new { @class = "col-sm-3 control-label no-padding-right" })
                                        <div class="col-sm-9">
                                            @Html.HiddenFor(model => Model[i].WebsiteAttributes[f].Name)
                                            <input type="text" value="@Model[i].WebsiteAttributes[f].Name" class = "col-xs-10 col-sm-5" disabled = "disabled"/>
                                            @*@Html.TextBoxFor(model => Model[i].WebsiteAttributes[f].Name, null, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })*@
                                            @*@Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].Name)*@
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => Model[i].WebsiteAttributes[f].Status, new { @class = "col-sm-3 control-label no-padding-right" })
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => Model[i].WebsiteAttributes[f].Status, null, new { @class = "col-xs-10 col-sm-5" })
                                            @Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].Status)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => Model[i].WebsiteAttributes[f].Description, new { @class = "col-sm-3 control-label no-padding-right" })
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => Model[i].WebsiteAttributes[f].Description, null, new { @class = "col-xs-10 col-sm-5" })
                                            @Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].Description)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => Model[i].WebsiteAttributes[f].ControlType, new { @class = "col-sm-3 control-label no-padding-right" })
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => Model[i].WebsiteAttributes[f].ControlType, null, new { @class = "col-xs-10 col-sm-5" })
                                            @Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].ControlType)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => Model[i].WebsiteAttributes[f].Type, new { @class = "col-sm-3 control-label no-padding-right" })
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => Model[i].WebsiteAttributes[f].Type, null, new { @class = "col-xs-10 col-sm-5" })
                                            @Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].Type)
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                @Html.LabelFor(model => Model[i].WebsiteAttributes[f].Value, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => Model[i].WebsiteAttributes[f].Value, null, new { @class = "col-xs-10 col-sm-5" })
                    @Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].Value)
                </div>
            </div>*@
                                    <div class="form-group col-sm-6 col-md-12">
                                        @Html.LabelFor(model => Model[i].WebsiteAttributes[f].Value, new { @class = "col-sm-3 control-label no-padding-right" })
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => Model[i].WebsiteAttributes[f].Value, "GetImageFromElfinder")
                                            @Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].Value)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => Model[i].WebsiteAttributes[f].IsPublic, new { @class = "col-sm-3 control-label no-padding-right" })
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => Model[i].WebsiteAttributes[f].IsPublic, null, new { @class = "col-xs-10 col-sm-5" })
                                            @Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].IsPublic)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => Model[i].WebsiteAttributes[f].Title, new { @class = "col-sm-3 control-label no-padding-right" })
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => Model[i].WebsiteAttributes[f].Title, null, new { @class = "col-xs-10 col-sm-5" })
                                            @Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].Title)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => Model[i].WebsiteAttributes[f].TitleEnglish, new { @class = "col-sm-3 control-label no-padding-right" })
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => Model[i].WebsiteAttributes[f].TitleEnglish, null, new { @class = "col-xs-10 col-sm-5" })
                                            @Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].TitleEnglish)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => Model[i].WebsiteAttributes[f].Caption, new { @class = "col-sm-3 control-label no-padding-right" })
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => Model[i].WebsiteAttributes[f].Caption, null, new { @class = "col-xs-10 col-sm-5" })
                                            @Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].Caption)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => Model[i].WebsiteAttributes[f].CaptionEnglish, new { @class = "col-sm-3 control-label no-padding-right" })
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => Model[i].WebsiteAttributes[f].CaptionEnglish, null, new { @class = "col-xs-10 col-sm-5" })
                                            @Html.ValidationMessageFor(model => Model[i].WebsiteAttributes[f].CaptionEnglish)
                                        </div>
                                    </div>
                                }
                            </div>
                            }


                        </div>
                    </div>

                    @Html.Partial("_PartialButtonGroup", "/Admin/WebsiteAttribute")
                </div>
            }


        </div>
    </div>
</div>