@model Outsourcing.Data.Models.BlogCategories

@{
    ViewBag.Title = "EditBlogCategory";
}

@section head{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
}
@section breadcrumb
{
    <li><a href="@Url.Action("Index")">BlogCategories</a></li>
    <li class="active">Edit</li>
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-block alert-info">
                Edit Blog Categories
            </div>
            @using (Html.BeginForm("Edit", "Hotels", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryParentId, "CategoryParentId", new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.DropDownList("CategoryParentId")
                        @Html.ValidationMessageFor(model => model.CategoryParentId)
                    </div>
                </div>

                <div class="form-group col-sm-6 col-md-12">
                    @Html.LabelFor(model => model.Name, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.Name, null, new { @class = "col-xs-10 col-sm-5" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group col-sm-6 col-md-12">
                    @Html.LabelFor(model => model.Slug, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.Slug, null, new { @class = "col-xs-10 col-sm-5" })
                        @Html.ValidationMessageFor(model => model.Slug)
                    </div>
                </div>

                <div class="form-group col-sm-6 col-md-12">
                    @Html.LabelFor(model => model.Status, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.Status, null, new { @class = "col-xs-10 col-sm-5" })
                        @Html.ValidationMessageFor(model => model.Status)
                    </div>
                </div>

                <div class="form-group col-sm-6 col-md-12">
                    @Html.LabelFor(model => model.Description, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextAreaFor(model => model.Description, "CkEditor")
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <input type="reset" value="Reset" class="btn" />
                        <a href="@Url.Action("Index","BlogCategories")" class="btn btn-warning">Back</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    CKEDITOR.replace('Description');
</script>
