@model IEnumerable<Outsourcing.Data.Models.Hotel>
@{
    var count = Enum.GetValues(typeof(Outsourcing.Data.Models.RoomType)).Length + 1;
    string nameType = string.Empty;
}
@*<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-cube"></i>
        <span class="menu-text">
            Quản lý phòng
            <span class="badge badge-primary ">@count</span>
        </span>
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <ul class="submenu" style="overflow: hidden; display: none;">
        <li>
            <a href="@Url.Action("Index", "Rooms")">
                <i class="icon-double-angle-right"></i>
                Tất Cả
            </a>
        </li>
        @foreach (Outsourcing.Data.Models.RoomType item in Enum.GetValues(typeof(Outsourcing.Data.Models.RoomType)))
        {
            switch (item)
            {
                case Outsourcing.Data.Models.RoomType.ShortTempDeposit:
                    nameType = "Ký Gửi";
                    break;
                case Outsourcing.Data.Models.RoomType.LongTemp:
                    nameType = "Dài Hạn";
                    break;
                case Outsourcing.Data.Models.RoomType.ShortTemp:
                    nameType = "Ngắn Hạn";
                    break;
            }

            <li>
                <a href="@Url.Action("Index", "Rooms", new {type = item})">
                    <i class="icon-double-angle-right"></i>
                    @nameType
                </a>
            </li>
        }

    </ul>
</li>*@

<div class="invisible">
    <button data-target="#sidebar2" data-toggle="collapse" type="button" class="pull-left navbar-toggle collapsed">
        <span class="sr-only">Toggle sidebar</span>

        <i class="ace-icon fa fa-dashboard white bigger-125"></i>
    </button>

    <div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse ace-save-state">
        <ul class="nav nav-list">
            <li class="hover">
                <a href="@Url.Action("Index","Rooms")">
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text">Tất Cả</span>
                </a>

                <b class="arrow"></b>
            </li>

            @foreach (Outsourcing.Data.Models.RoomType item in Enum.GetValues(typeof(Outsourcing.Data.Models.RoomType)))
            {
                switch (item)
                {
                    case Outsourcing.Data.Models.RoomType.ShortTempDeposit:
                        nameType = "Ký Gửi";
                        break;
                    case Outsourcing.Data.Models.RoomType.LongTemp:
                        nameType = "Dài Hạn";
                        break;
                    case Outsourcing.Data.Models.RoomType.ShortTemp:
                        nameType = "Ngắn Hạn";
                        break;
                }

                <li class="hover">
                    <a href="@Url.Action("Index","Rooms", new { type = item })">
                        <i class="menu-icon fa fa-list-alt"></i>
                        <span class="menu-text">@nameType</span>
                    </a>

                    <b class="arrow"></b>
                </li>
            }

            <li class="hover">
                <a href="@Url.Action("Create","Rooms", new {categoryId = Request.Params["type"]})">
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text">Thêm Phòng</span>
                </a>

                <b class="arrow"></b>
            </li>



        </ul><!-- /.nav-list -->
    </div><!-- .sidebar -->
</div>