@model Outsourcing.Data.Models.Hotel

@{
    /**/

    ViewBag.Title = "Create Hotel";

}
@section scripts{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
}
@section breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed');
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/portal">Home</a>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="@Url.Action("Index")">Quản lý Khách Sạn</a>
            </li>
            <li class="active">Thêm mới Khách Sạn</li>
        </ul>
    </div>
}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-block alert-info">
                Thêm Mới Khách Sạn
            </div>
            @using (Html.BeginForm("Create", "Hotels", new { categoryId = Request.Params["categoryId"] }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1">
                                <i class="green icon icon-home bigger-120"></i>
                                General
                            </a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#tab2">
                                <i class="red  icon-rocket bigger-120"></i>
                                Chỉnh sửa SEO
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab3">
                                <i class="blue  icon-picture bigger-120"></i>
                                Contact
                            </a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade active in">

                            <div class="form-group">
                                @Html.LabelFor(model => model.HotelCategoryId, "HotelCategoryId", new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("HotelCategoryId")
                                    @Html.ValidationMessageFor(model => model.HotelCategoryId)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Name, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Address, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.District, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.District, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.District)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Ward, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Ward, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Ward)
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Noted, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Noted, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Noted)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Status, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Status)
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @*@Html.EditorFor(model => model.Description, "CkEditor")*@
                                    @*@Html.EditorFor(model => model.Description, null, new { @class = "col-xs-10 col-sm-5" })*@
                                    @Html.TextAreaFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaTitle, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaTitle, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.MetaTitle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaKeywords, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaKeywords, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.MetaKeywords)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaDescription, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaDescription, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.MetaDescription)
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab-pane fade in">

                            <div class="form-group">
                                @Html.LabelFor(model => model.ManagerName, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.ManagerName, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.ManagerName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ManagerPhone, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.ManagerPhone, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.ManagerPhone)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ManagerEmail, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.ManagerEmail, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.ManagerEmail)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HostName, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.HostName, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.HostName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HostPhone, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.HostPhone, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.HostPhone)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HostEmail, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.HostEmail, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.HostEmail)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HostAddress, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.HostAddress, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.HostAddress)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContractNumber, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.ContractNumber, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.ContractNumber)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                        <a href="@Url.Action("Index","Hotels",new { categoryId = Request.Params["categoryId"]})" class="btn btn-warning">Back</a>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<script>
    CKEDITOR.replace('Description');
</script>