@model Outsourcing.Data.Models.Hotel

@{
    ViewBag.Title = "Details";
}
@section breadcrumb
    {
    <li><a href="@Url.Action("Index")">Hotels</a></li>
    <li class="active">Details</li>
}

<div class="page-header">
    <h1>
        Quản Lý Khách Sạn
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Model.Name
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <div class="clearfix">
        <div class="pull-right">
            <span class="green middle bolder">Choose result page: &nbsp;</span>

            <div class="btn-toolbar inline middle no-margin">
                <div id="toggle-result-page" data-toggle="buttons" class="btn-group no-margin">
                    <label class="btn btn-sm btn-yellow active">
                        <span class="bigger-110">1</span>

                        <input type="radio" value="1" />
                    </label>

                    <label class="btn btn-sm btn-yellow">
                        <span class="bigger-110">2</span>

                        <input type="radio" value="2" />
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="space-10"></div>

    <div class="row">
        <div class="col-xs-12">
            @foreach (var item in Model.Rooms)
            {
                <div style="height:90px" class="media search-media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" data-src="holder.js/72x72" />
                        </a>
                    </div>

                    <div class="media-body">
                        <div>
                            <h4 class="media-heading">
                                <a href="@Url.Action("Details","Rooms",new { id = item.Id})" class="blue">@item.Name</a>
                            </h4>
                        </div>


                        <p>@Outsourcing.Core.Common.StringConvert.Chop(item.Description, 200)</p>

                        <div class="search-actions text-center">
                            <span class="text-info">$</span>

                            <span class="blue bolder bigger-150">@string.Format("{0:#,##0}", item.Price)</span>

                            <a onclick="setRoomId(@item.Id)" data-toggle="modal" data-target="#phoneModal" class="search-btn-action btn btn-sm btn-block btn-info">
                                Book it!
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@using (Html.BeginForm("Create", "RoomOrders", null, FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div id="phoneModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Xin vui lòng nhập số điện thoại</h4>
                </div>
                <div class="modal-body">
                    <input hidden name="roomId" id="txtRoomId" type="text" />
                    @Html.TextBox("phone")
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Search</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function setRoomId(id) {
        document.getElementById("txtRoomId").value = id;
    }
</script>