@model PagedList.IPagedList<Outsourcing.Data.Models.Hotel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Hotel";
}
@section breadcrumb
{
    <li class="active">Hotel</li>
}
@Html.Action("HotelCategorySubMenu", "HotelCategories")
<div class="page-header">
    <h1>
        Quản Lý Khách Sạn
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            overview
        </small>
    </h1>
</div><!-- /.page-header -->
<!-- /.box-header -->
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="search-area well well-sm">
                <div class="search-filter-header bg-primary">
                    <h5 class="smaller no-margin-bottom">
                        <i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Refine your Search
                    </h5>
                </div>

                <div class="space-10"></div>

                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-xs-12 col-sm-11 col-md-10">
                            <div class="input-group">
                                @Html.TextBox("SearchString",null,new { @class = "form-control", placeholder = "Search by hotel name..." })
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default no-border btn-sm">
                                        <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="row">
                <div class="search-area well col-xs-12">
                    <div class="pull-left">
                        <b class="text-primary">Display</b>

                        &nbsp;
                        <div class="btn-group btn-overlap">
                            <a href="@Url.Action("Index",new { categoryId = Request.Params["categoryId"] })" title="Show All" class="btn btn-lg btn-white btn-grey">
                                <i class="icon-only ace-icon fa fa-list"></i>
                            </a>

                            <a href="@Url.Action("Index",new { status=true, categoryId = Request.Params["categoryId"] })" title="Show Public Hotels" class="btn btn-lg btn-white btn-grey">
                                <i class="icon-only ace-icon fa fa-eye"></i>
                            </a>

                            <a href="@Url.Action("Index",new { status=false, categoryId = Request.Params["categoryId"] })" title="Show Hidden Hotels" class="btn btn-lg btn-white btn-grey">
                                <i class="icon-only ace-icon fa fa-eye-slash"></i>
                            </a>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="thumbnail search-thumbnail">
                            @if (item.Status)
                            {
                                <span class="search-promotion label label-success arrowed-in arrowed-in-right">
                                    Public
                                </span>
                            }
                            else
                            {
                                <span class="search-promotion label label-danger arrowed-in arrowed-in-right">
                                    Hidden
                                </span>
                            }
                            @{
                                var image = "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22244%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20244%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16acba8cc09%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16acba8cc09%22%3E%3Crect%20width%3D%22244%22%20height%3D%22200%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2290.859375%22%20y%3D%22105.3296875%22%3E244x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E";
                                if (string.IsNullOrEmpty(item.UrlImage1) == false)
                                {
                                    image = item.UrlImage1;
                                }
                            }
                            <img class="media-object" data-src="holder.js/100px200?theme=gray" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="@image" data-holder-rendered="true">
                            <div style="height:271px;" class="caption">
                                <div class="clearfix">

                                    <span class="pull-right bigger-110">
                                        <i class="fa fa-home blue bigger-110"></i>
                                        @item.Rooms.Count(w => w.Deleted != true)
                                    </span>

                                    <span class="pull-left bigger-110">

                                        <i class="fa fa-phone green bigger-110"></i>
                                        @Html.DisplayFor(modelItem => item.Hotline)

                                    </span>
                                </div>

                                <h3 style="height:50px;" class="search-title">
                                    <a href="@Url.Action("Details", new {id = item.Id})" class="blue">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </a>
                                </h3>
                                <p style="height:56px;">
                                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                                    @{
                                        var address = string.Format("{0}, {1}, {2}", item.Address, item.Ward, item.District);
                                    }
                                    @address
                                </p>
                                <p style="height:38px;">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </p>
                                <div class="clearfix">
                                    <span class="pull-right">
                                        @*<a href="@Url.Action("Edit", new {id = item.Id, categoryId = Request.Params["categoryId"], type = Request.Params["type"]})" class="btn btn-primary" role="button">Edit</a>*@
                                        <a href="@Url.Action("Details", new {id = item.Id})" class="btn btn-primary btn-lg" role="button">Quản Lý</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="panel-footer">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page }))
            </div>
        </div>
    </div>

</div>


@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            $('#sidebar2').insertBefore('.page-content');

            $('.navbar-toggle[data-target="#sidebar2"]').insertAfter('#menu-toggler');


            $(document).on('settings.ace.two_menu',
                function (e, event_name, event_val) {
                    if (event_name == 'sidebar_fixed') {
                        if ($('#sidebar').hasClass('sidebar-fixed')) {
                            $('#sidebar2').addClass('sidebar-fixed');
                            $('#navbar').addClass('h-navbar');
                        } else {
                            $('#sidebar2').removeClass('sidebar-fixed');
                            $('#navbar').removeClass('h-navbar');
                        }
                    }
                }).triggerHandler('settings.ace.two_menu', ['sidebar_fixed', $('#sidebar').hasClass('sidebar-fixed')]);
        });
    </script>
}
