@model Outsourcing.Data.Models.Hotel

@{
    ViewBag.Title = "Preview";
}


@section head{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
}
@section breadcrumb
{
    <li><a href="@Url.Action("Index")">Hotel</a></li>
    <li class="active">Preview</li>
}

<div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-block alert-info">
                    Preview Khách Sạn
                </div>

                <tbody>
                    @foreach (var item in Model.Costs)
                    {

                        <tr class="detail-row">
                            <td colspan="8">
                                <div class="table-detail">
                                    <div class="row">
                                        

                                        <div class="col-xs-6 col-sm-6">
                                            <div class="space visible-xs"></div>

                                            <div class="profile-user-info profile-user-info-striped">
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">ID</div>

                                                    <div class="profile-info-value">
                                                        <span>@item.Id</span>
                                                    </div>
                                                </div>

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Name</div>

                                                    <div class="profile-info-value">
                                                        <span>@item.Name</span>
                                                    </div>
                                                </div>



                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Amount </div>

                                                    <div class="profile-info-value">
                                                        <span>@item.Amount</span>
                                                    </div>
                                                </div>

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Type </div>

                                                    <div class="profile-info-value">
                                                        <span>@item.Type</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </div>
        </div>
    </div> 
</div>
<p>
    @using (Html.BeginForm("ExportData", "Hotels", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Export" class="btn btn-primary" />
        <a href="@Url.Action("Index")" class="btn btn-secondary">Back</a>
    }
</p>
