@model Outsourcing.Data.Models.Hotel

@{
    ViewBag.Title = "Preview";
}


@section head{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
}
@section breadcrumb
{
    <li><a href="@Url.Action("Index")">Hotel</a></li>
    <li class="active">Preview</li>
}

<div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-block alert-info">
                    Preview Khách Sạn
                </div>
                <div class="col-xs-12 col-sm-9">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="simple-table" class="table  table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Costs)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(model => item.Id)</td>
                                            <td>@Html.DisplayFor(model => item.Name)</td>
                                            <td>@Html.DisplayFor(model => item.Amount)</td>
                                            <td>@Html.DisplayFor(model => item.Type)</td>
                                        </tr>
                                    }
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @using (Html.BeginForm("ExportData", "Hotels", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Export" class="btn btn-primary" />
        <a href="@Url.Action("Index")" class="btn btn-secondary">Back</a>
    }
</p>

