

@model IEnumerable<Outsourcing.Data.Models.HMS.RoomOrders>
@Scripts.Render("~/Content/dataTable")

@{
    ViewBag.Title = "Index";
}

<h2>Tên trang</h2>
@Styles.Render("~/Content/dataTable")
<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Tên Trang</h3>
        <div class="table-header">Tên bảng</div>
        <table id="datatable" class="table table-striped table-bordered table-hover">
            <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Room.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.CustomerPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalPayment_CheckOut)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalPaymentRoom_DraftCheckIn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipmentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipmentFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deadline)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CheckIn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book_Motobike)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookCar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book_Tour)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book_BBQService)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book_Gift)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book_Laundry)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book_FlightTicket)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book_Visa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book_Taxi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book_SuggestionTour)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book_RegisterResidence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OtherBookService)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total_DescriptionBook_Noted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalBookPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>

                    <th></th>
                </tr>
            </thead>

            <tbody>



                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Room.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                    
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomeNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPayment_CheckOut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPaymentRoom_DraftCheckIn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShipmentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShipmentFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deadline)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckIn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book_Motobike)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookCar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book_Tour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book_BBQService)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book_Gift)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book_Laundry)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book_FlightTicket)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book_Visa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book_Taxi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book_SuggestionTour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book_RegisterResidence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OtherBookService)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total_DescriptionBook_Noted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalBookPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                   
                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                                <a href="Edit/@item.Id" class="btn btn-xs btn-info">
                                    <i class="icon-edit bigger-120"></i>
                                </a>
                                <a href="#" class="btn btn-xs btn-danger">
                                    <i class="icon-trash bigger-120"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script>
    $(document).ready(function () {
        /* Initialise the DataTable */

        $('#datatable').dataTable();

    });
</script>