@model Outsourcing.Data.Models.CostCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CostCategory</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModify)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
