@model Outsourcing.Data.Models.Room

@{
    ViewBag.Title = "Create Room";
}
@section head{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
}
@section breadcrumb
{
    <li><a href="@Url.Action("Index")">Rooms</a></li>
    <li class="active">Create</li>
}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-block alert-info">
                Thêm Mới Phòng
            </div>
            @using (Html.BeginForm("Create", "Rooms", new { hotelId = Request.Params["hotelId"], type = Request.Params["type"] }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1">
                                <i class="green icon icon-home bigger-120"></i>
                                General
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab2">
                                <i class="blue  icon-picture bigger-120"></i>
                                Hình ảnh
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab3">
                                <i class="red  icon-rocket bigger-120"></i>
                                Chỉnh sửa SEO
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab4">
                                <i class="blue  icon-picture bigger-120"></i>
                                Tiện Nghi Phòng
                            </a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade active in">

                            <div class="form-group">
                                @Html.LabelFor(model => model.HotelId, "HotelId", new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("HotelId")
                                    @Html.ValidationMessageFor(model => model.HotelId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Name, null, new { @class = "col-xs-10 col-sm-5", @required = "required" })
                                    @*@Html.ValidationMessageFor(model => model.Name)*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NameEnglish, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.NameEnglish, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.NameEnglish)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Noted, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Noted, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Noted)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SharePercent, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.SharePercent, null, new { @class = "col-xs-10 col-sm-5", type = "number", min = 0, max = 100 })
                                    @Html.ValidationMessageFor(model => model.SharePercent)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Price, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Price, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Price)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Type, "RoomType", new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("RoomType")
                                    @Html.ValidationMessageFor(model => model.Type)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Status, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Status)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Content, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Content, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Content)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContentEnglish, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.ContentEnglish, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.ContentEnglish)
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @*@Html.EditorFor(model => model.Description, "CkEditor")*@
                                    @Html.TextAreaFor(model => model.Description)

                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.DescriptionEnglish, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @*@Html.EditorFor(model => model.DescriptionEnglish, "CkEditor")*@
                                    @Html.TextAreaFor(model => model.DescriptionEnglish)

                                    @Html.ValidationMessageFor(model => model.DescriptionEnglish)
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane">
                            <div class="row">
                                @Html.EditorFor(model => model.RoomImageMappings)
                            </div>
                        </div>
                        <div id="tab3" class="tab-pane">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaTitle, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaTitle, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.MetaTitle)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaKeywords, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaKeywords, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.MetaKeywords)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaDescription, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaDescription, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.MetaDescription)
                                </div>
                            </div>

                        </div>
                        <div id="tab4" class="tab-pane fade in">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Utility_Tivi, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Utility_Tivi, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Utility_Tivi)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Utility_TuDo, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Utility_TuDo, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Utility_TuDo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Utility_HotWater, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Utility_HotWater, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Utility_HotWater)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Utility_DryHair, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Utility_DryHair, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Utility_DryHair)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Utility_Iron, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Utility_Iron, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Utility_Iron)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Utility_Kitchen, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Utility_Kitchen, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Utility_Kitchen)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Utility_TeaCoffee, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Utility_TeaCoffee, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Utility_TeaCoffee)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Utility_Snack, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Utility_Snack, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Utility_Snack)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Utility_WashMachine, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Utility_WashMachine, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Utility_WashMachine)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                        <a href="@Url.Action("Index","Rooms",new { hotelId = Request.Params["hotelId"], type = Request.Params["type"]})" class="btn btn-warning">Back</a>
                    </div>
                </div>
            }x 
        </div>
    </div>
</div>
<script>
    CKEDITOR.replace('Description');
    CKEDITOR.replace('DescriptionEnglish');
</script>