
<script src="~/Content/js/formValidate.js"></script>
<script>
    function sendBooking() {
        var Name, Email , message;
        Name = document.getElementById("cus_name").value;
        Email = document.getElementById("cus_email").value;
        message = document.getElementById("message").value;
        if (Name != "" && Email != "" && message != "") {
            alert("Booking Thành Công");
        } 
    }
</script>
<section class="row final-inner-header">
    <div class="container">
        <h2 class="this-title">@Html.Raw(Resources.HMS_Booking)</h2>
    </div>
</section>
<section class="row final-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a>@Html.Raw(Resources.HMS_Home)</li>
            <li><a href="/dat-phong" class="active">@Html.Raw(Resources.HMS_Booking)</a></li>
        </ol>
    </div>
</section>
<!-- Header  Slider style-->
<!-- Booking style-->
<section class="container clearfix common-pad-inner booknow">
    <div class="sec-header">
        <h2>@Html.Raw(Resources.HMS_Booking)</h2>
        <h3>Pick a room that best suits your taste and budget</h3>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <div class="book-left-content input_form">
                <form id="contactBooking" action="/Home/BookingRoom"
                      method="post">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                            <input id="cus_name" type="text" name="Name" placeholder="@Html.Raw(Resources.HMS_Name)" class="form-control" required>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                            <input id="cus_email" type="email" name="Email" placeholder="@Html.Raw(Resources.HMS_Email)" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                            <input placeholder="@Html.Raw(Resources.HMS_StartDate)" name="DateCreated" type="text" id="startDate" required
                                   class="form-control datepicker-example8">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                            <input type="text" placeholder="@Html.Raw(Resources.HMS_EndDate)" name="DateEnd" id="endDate" required
                                   class="form-control datepicker-example8">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                            <div class="select-box">
                                <select name="Adults" class="select-menu"  required  id="adults">
                                    <option value="default" >@Html.Raw(Resources.HMS_Adult)</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12">
                            <div class="select-box">
                                <select name="Children" class="select-menu" required id="childent">
                                    <option value="default">@Html.Raw(Resources.HMS_Children)</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <textarea id="message" rows="6" name="Description" placeholder="@Html.Raw(Resources.HMS_Message)" class="form-control" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="res-btn" onclick="sendBooking()">@Html.Raw(Resources.HMS_SendMessage)</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4 pull-right">
            <div class="single-sidebar-widget">
                <!-- Categories style-->
                <div class="single-sidebar-widget-outer">
                    <div class="sec-title-cat sec-title">
                        <h2>Tiện Ích</h2>
                    </div>
                    <div class="categories">
                        <ul>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Thuê Xe Máy(Tay Ga, Xe Số)
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        Tour
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                    <label class="form-check-label" for="defaultCheck3">
                                        Xe Hơi 4,7,16 chỗ
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                                    <label class="form-check-label" for="defaultCheck4">
                                        Dịch Vụ BBQ
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                    <label class="form-check-label" for="defaultCheck5">
                                        Quà Lưu Niệm
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                                    <label class="form-check-label" for="defaultCheck6">
                                        Giặt Ủi
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                                    <label class="form-check-label" for="defaultCheck7">
                                        Vé Máy Bay
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                                    <label class="form-check-label" for="defaultCheck8">
                                        Visa
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                                    <label class="form-check-label" for="defaultCheck9">
                                        Xe Đưa Đón Sân Bay
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                                    <label class="form-check-label" for="defaultCheck10">
                                        Địa Điểm ĂN Uống, Tham Quan, Check In
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Categories style-->
            </div>
        </div>
    </div>
</section>
