@model Outsourcing.Data.Models.Deposit
@{
    Layout = "~/Views/Shared/_LayoutHMS.cshtml";
    HttpCookie cookie = Request.Cookies["_culture"];
    ViewBag.Title = "HomeStay, cho thuê phòng ngắn hạn , phòng dài hạn, nơi trãi nghiệm sự sang trọng, tiện nghi và thoải mái - DalatAmazing |dalatamazing.com.vn";
    ViewBag.Description = "Chúng tôi tin tưởng trong việc cung cấp dịch vụ khách hàng tuyệt vời." +
        "Homestay của chúng tôi Sang Trọng, Đầy Đủ Tiện Nghi giúp Khách Hàng Thoải Mái cho kì nghỉ của mình" +
        "Chúng tôi sẽ đáp ứng các nhu cầu của khách hàng một cách tốt nhất. Nếu bạn có bất kỳ câu hỏi, ý kiến hoặc đề nghị, vui lòng liên hệ cho chúng tôi " +
        "Chúng tôi rất mong nhận được phản hồi từ bạn. ";
    ViewBag.Keywords = "dalatamazing.com.vn, dalatamazing, homestay, phòng đẹp , chỗ nghỉ dưỡng tốt";
    Layout = "~/Views/Shared/_LayoutHMS.cshtml";

}
<style>
    .text-danger {
        color: #a94442 !important;
    }
</style>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
<section class="row final-inner-header">
    <div class="container">
        <h2 class="this-title">@Html.Raw(Resources.Resources.HMS_Contact)</h2>
    </div>
</section>
<section class="row final-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">@Html.Raw(Resources.Resources.HMS_Home)</a></li>
            <li><a href="/lien-he" class="active">@Html.Raw(Resources.Resources.HMS_Contact)</a></li>
        </ol>
    </div>
</section>
<section class="container clearfix common-pad booknow">
    <div class="sec-header">
        <h2>@Html.Raw(Resources.Resources.HMS_SendMessage)</h2>
        @if (cookie != null && cookie.Value.Equals("vi"))
        {
            <h3>Liên hệ với chúng tôi ngay</h3>
        }
        else
        {
            <h3>Pick a room that best suits your taste and budget</h3>
        }
    </div>
    <div class="row nasir-contact">
        <div class="col-md-8">
            <div class="book-left-content input_form">
                <form id="contactForm" action="/Home/ContactBookingRooom" method="post" name="contactForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12 form-contact">
                            <span>@Html.Raw(Resources.Resources.HMS_Name)</span>
                            <input id="ContactName" type="text" name="Name" placeholder="@Html.Raw(Resources.Resources.HMS_Name)" class="form-control" required>
                            <small><span class="text-danger error-contactName hidden"> Vui lòng nhập Tên  </span></small>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 m0 col-xs-12 form-contact">
                            <span>@Html.Raw(Resources.Resources.HMS_Email) </span>
                            <input id="ContactEmail" type="email" name="Email" placeholder="@Html.Raw(Resources.Resources.HMS_Email)" class="form-control" required>
                            <small><span class="text-danger error-ContactEmail-none  hidden">Vui lòng nhập địa chỉ email </span></small>
                            <small><span class="text-danger error-ContactEmail hidden">Sai Định Dạng Email</span></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-contact">
                            <span>@Html.Raw(Resources.Resources.HMS_Phone)</span>
                            <input id="ContactPhone" type="text" name="Description" placeholder="@Html.Raw(Resources.Resources.HMS_Phone)" class="form-control" required>
                            <small><span class="text-danger error-ContactPhonel-none hidden">Vui lòng nhập số điện thoại </span></small>
                            <small><span class="text-danger error-ContactPhone hidden">Sai định dạng số điện thoại</span></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-contact">
                            <span>@Html.Raw(Resources.Resources.HMS_Message)</span>
                            <textarea id="ContactMesss" rows="6" name="Content" placeholder="@Html.Raw(Resources.Resources.HMS_Message)" class="form-control" required></textarea>
                        </div>
                        <small><span class="text-danger error-ContactMesss-none hidden">Vui lòng nhập nội dung </span></small>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="res-btn" id="btn-submit-contact">@Html.Raw(Resources.Resources.HMS_SendMessage)</button>
                        </div>
                    </div>
                </form>
                <div id="success">
                    <p>Tin nhắn thành công</p>
                </div>
                <div id="error">
                    <p>Thất bại!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-info">
                <h2>@Html.Raw(Resources.Resources.HMS_Contact)</h2>
                <div class="media-contact clearfix">
                    <div class="media-contact-icon"><i aria-hidden="true" class="fa fa-map-marker"></i></div>
                    <div class="media-contact-info">
                        @if (cookie != null && cookie.Value.Equals("vi"))
                        {
                            <p>Quận 1 - Tp Hồ Chí Minh</p>
                        }
                        else
                        {
                            <p>Lake Resort, Lorance 542B, Tailstoi Town 5248 MT, Wordwide Country</p>
                        }
                    </div>
                </div>
                <div class="media-contact clearfix">
                    <div class="media-contact-icon"><i aria-hidden="true" class="fa fa-envelope-o"></i></div>
                    <div class="media-contact-info">
                        <p><a href="mailto:Info@Resorthotel.Com">Info@Resorthotel.Com</a><br><a href="mailto:support@Resorthotel.Com">support@Resorthotel.Com</a></p>
                    </div>
                </div>
                <div class="media-contact clearfix">
                    <div class="media-contact-icon"><i aria-hidden="true" class="fa fa-phone"></i></div>
                    @if (cookie != null && cookie.Value.Equals("vi"))
                    {
                        <div class="media-contact-info">
                            <p>
                                Từ thứ 2 đến thứ 6 : 8.00am to 5.00 pm<br>
                                Thứ 7 : 8.00am to 3.00 pm<br>
                                chủ nhật : <span>closed</span>
                            </p>
                        </div>

                    }
                    else
                    {
                        <div class="media-contact-info">
                            <p>
                                Monday to Friday : 8.00am to 5.00 pm<br>
                                Saturday : 8.00am to 3.00 pm<br>
                                Sunday : <span>closed</span>
                            </p>
                        </div>
                    }

                </div>
                <div class="media-contact clearfix">
                    <div class="media-contact-icon"><i aria-hidden="true" class="icon icon-Timer"></i></div>
                    <div class="media-contact-info">
                        <p><a href="tel:18005622487"><i>+ 1800 562 2487</i></a><br><a href="tel:32155468975"><i>+ 3215 546 8975</i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="map-canvas" @*data-lat="10.8851677" data-lng="106.5786695" data-zoom="14"*@ class="tt-contact-map map-block">

    <iframe class="actAsDiv" style="width:100%;height:100%;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;aq=0&amp;ie=UTF8&amp;t=m&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
</div>
@*<div class="addresses-block"><a data-lat="10.8851677" data-marker="" data-lng="106.5786695" data-string="1. Here is some address or email or phone or something else..."></a></div>*@
<script>

    var checkContact = false;
    var contactForm = $('#contactForm');
    var submitBtnContact = $('#btn-submit-contact');
    $(function () {
        submitFormContact();
    });
    function submitFormContact() {
        submitBtnContact.click(function (e) {
            checkContact = validateFormContact();
            if (checkContact) {
                alert("Gửi thông tin liên hệ thành công");

                contactForm.submit();
            } else {
                e.preventDefault();
            }
        });
    }
    function isValidGmailContact(stringMail) {
        var reg = /^[a-zA-Z0-9_.-]+@@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{0,4}$/;
        if (!reg.test(stringMail)) {
            return false;
        }
        return true;
    }
    function isValidPhoneContact(stringPhone) {
        if (stringPhone.length != 10) {
            return false;
        }
        return true;
    }
    function validateFormContact() {
        $('.error-ContactEmail').addClass('hidden');
        $('.error-ContactPhone').addClass('hidden');
        var ContactName, ContactEmail, ContactPhone, ContactMesss;
        ContactName = $('#ContactName').val();
        ContactEmail = $('#ContactEmail').val();
        ContactPhone = $('#ContactPhone').val();
        ContactMesss = $('#ContactMesss').val();
        if (ContactName == "") {
            $('.error-contactName').removeClass('hidden');
            return false;
        } else {
            $('.error-contactName').addClass('hidden');
        }
        if (ContactEmail == "") {
            $('.error-ContactEmail-none ').removeClass('hidden');
            return false;
        } else {
            $('.error-ContactEmail-none').addClass('hidden');
        }
        if (!isValidGmailContact(ContactEmail)) {
            $('.error-ContactEmail').removeClass('hidden');
            return false;
        } else {
            $('.error-ContactEmail').addClass('hidden');
        }
        if (ContactPhone == "") {
            $('.error-ContactPhonel-none').removeClass('hidden');
            return false;
        } else {
            $('.error-ContactPhonel-none').addClass('hidden');
        }
        if (!isValidPhoneContact(ContactPhone)) {
            $('.error-ContactPhone').removeClass('hidden');
            return false;
        }
        if (ContactMesss == "") {
            $('.error-ContactMesss-none').removeClass('hidden');
            return false;
        } else {
            $('.error-ContactMesss-none').addClass('hidden');
        }
        return true;
    }
</script>
