@model PagedList.IPagedList<Outsourcing.Data.Models.Hotel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Details";
}

@section breadcrumb
    {
    <li><a href="@Url.Action("Index")">HotelCategories</a></li>
    <li class="active">Details</li>
}

<div class="page-header">
    <h1>
        Quản Lý Chỉ Mục Khách Sạn
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @ViewBag.HotelCategoryName
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="col-xs-12">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-6 col-sm-4">
                <div class="thumbnail search-thumbnail">
                    <img style="height:200px" class="media-object" src="@item.UrlImage1" />
                    <div class="caption">
                        <div class="clearfix">
                            <span class="pull-right label label-grey info-label">Số phòng: @item.Rooms.Where(w => w.Deleted != true).Count()</span>
                        </div>

                        <h3 class="search-title">
                            <a href="@Url.Action("Details", "Hotels", new { id = item.Id })" class="blue">@item.Name</a>
                        </h3>
                        <p>@Outsourcing.Core.Common.StringConvert.Chop(item.Description, 200)</p>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Details",
        new { page }))