@using Outsourcing.Core
@model Labixa.Areas.HMSAdmin.ViewModels.CostOrderItemEditModel

<div class="form-group ">
    @Html.HiddenFor(model => model.CostOrderItemModel.Id)
    @Html.HiddenFor(model => model.CostOrderItemModel.CostId)
    @Html.HiddenFor(model => model.CostOrderItemModel.CostOrderId)
    @Html.HiddenFor(model => model.CostOrderItemModel.Discount)
    <label class="col-sm-3 control-label no-padding-right" for="">@Model.CostOrderItemModel.Cost.Name</label>
    <div class="col-sm-6">

        @Html.EditorFor(model => model.CostOrderItemModel.Price)
        @Html.ValidationMessageFor(model => model.CostOrderItemModel.Price)
    </div>
    <div class="col-sm-3">

        @Html.EditorFor(model => model.CostOrderItemModel.Quantity)
        @Html.ValidationMessageFor(model => model.CostOrderItemModel.Quantity)
    </div>
</div>