@model Outsourcing.Data.Models.Blog

@{
    ViewBag.Title = "Edit";
}

@section breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed');
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="@Url.Action("Index")">Bolg management</a>
            </li>
            <li class="active">Edit a bolg</li>
        </ul>
    </div>
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-block alert-info">
                Cập nhật Khách Sạn
            </div>
            @using (Html.BeginForm("Edit", "Blogs", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1">
                                <i class="green icon icon-home bigger-120"></i>
                                General
                            </a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#tab2">
                                <i class="red  icon-rocket bigger-120"></i>
                                Chỉnh sửa SEO
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade active in">

                            <div class="form-group col-sm-6 col-md-12">
                                @Html.LabelFor(model => model.BlogCategoryId, "BlogCategoryId", new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("BlogCategoryId")
                                    @Html.ValidationMessageFor(model => model.BlogCategoryId)
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-12">
                                @Html.LabelFor(model => model.Title, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Title, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-12">
                                @Html.LabelFor(model => model.TitleEnglish, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.TitleEnglish, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.TitleEnglish)
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-12">
                                @Html.LabelFor(model => model.Content, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Content, "CkEditor")
                                    @Html.ValidationMessageFor(model => model.Content)
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-12">
                                @Html.LabelFor(model => model.ContentEnglish, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.ContentEnglish, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.ContentEnglish)
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-12">
                                @Html.LabelFor(model => model.Slug, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Slug, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Slug)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PictureId, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.PictureId, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.PictureId)
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-12">
                                @Html.LabelFor(model => model.BlogImage, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.BlogImage, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.BlogImage)
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-12">
                                @Html.LabelFor(model => model.Description, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Description, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaTitle, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaTitle, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.MetaTitle)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaKeywords, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaKeywords, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.MetaKeywords)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaTitleEnglish, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaTitleEnglish, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.MetaTitleEnglish)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaDescription, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaDescription, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.MetaDescription)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaDescriptionEnglish, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaDescriptionEnglish, null, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.MetaDescriptionEnglish)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <input type="reset" value="Reset" class="btn" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>