@model Outsourcing.Data.Models.HMS.Rooms

@{
    ViewBag.Title = "Custom Create";
}


<div class="page-header">
							<h1>
								Create
								
							</h1>
						</div>


<div class="row">
<div class="col-xs-12">


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rooms</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Name,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.NameEN, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.NameEN,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.NameEN)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Description, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Description,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.DescriptionENG, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.DescriptionENG,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.DescriptionENG)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.SharePercent, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.SharePercent,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.SharePercent)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Status, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Status,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Price, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Price,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.DiscountPercent, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.DiscountPercent,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.DiscountPercent)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Slug, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Slug,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Slug)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Layout, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Layout,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Layout)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.DisplayOrder, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.DisplayOrder,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.IsStaticPage, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.IsStaticPage,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.IsStaticPage)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Noted, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Noted,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Noted)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.string1, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.string1,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.string1)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_Tivi, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_Tivi,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Utility_Tivi)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_TuDo, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_TuDo,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Utility_TuDo)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_HotWater, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_HotWater,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Utility_HotWater)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_DryHair, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_DryHair,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Utility_DryHair)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_Iron, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_Iron,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Utility_Iron)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_Kitchen, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_Kitchen,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Utility_Kitchen)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_TeaCoffee, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_TeaCoffee,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Utility_TeaCoffee)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_Snack, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_Snack,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Utility_Snack)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_WashMachine, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_WashMachine,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.Utility_WashMachine)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.MetaKeywords, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.MetaKeywords,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.MetaKeywords)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.MetaTitle, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.MetaTitle,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.MetaTitle)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.MetaDescription, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.MetaDescription,null, new {@class="col-xs-10 col-sm-5"})
                @Html.ValidationMessageFor(model => model.MetaDescription)
            </div>
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.HotelId, "HotelId", new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.DropDownList("HotelId", String.Empty)
                @Html.ValidationMessageFor(model => model.HotelId)
            </div>
        </div>

        <div class="form-group ">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
				<input type="reset" value="Reset" class="btn" />
            </div>
        </div>
    </div>
}
</div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
