@model Outsourcing.Data.Models.HMS.Rooms

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rooms</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.NameEN, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.NameEN)
                @Html.ValidationMessageFor(model => model.NameEN)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Description, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.DescriptionENG, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.DescriptionENG)
                @Html.ValidationMessageFor(model => model.DescriptionENG)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.SharePercent, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.SharePercent)
                @Html.ValidationMessageFor(model => model.SharePercent)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Status, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Price, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.DiscountPercent, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.DiscountPercent)
                @Html.ValidationMessageFor(model => model.DiscountPercent)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Slug, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Slug)
                @Html.ValidationMessageFor(model => model.Slug)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Layout, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Layout)
                @Html.ValidationMessageFor(model => model.Layout)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.DisplayOrder, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.IsStaticPage, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.IsStaticPage)
                @Html.ValidationMessageFor(model => model.IsStaticPage)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Noted, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Noted)
                @Html.ValidationMessageFor(model => model.Noted)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.string1, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.string1)
                @Html.ValidationMessageFor(model => model.string1)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_Tivi, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_Tivi)
                @Html.ValidationMessageFor(model => model.Utility_Tivi)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_TuDo, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_TuDo)
                @Html.ValidationMessageFor(model => model.Utility_TuDo)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_HotWater, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_HotWater)
                @Html.ValidationMessageFor(model => model.Utility_HotWater)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_DryHair, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_DryHair)
                @Html.ValidationMessageFor(model => model.Utility_DryHair)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_Iron, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_Iron)
                @Html.ValidationMessageFor(model => model.Utility_Iron)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_Kitchen, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_Kitchen)
                @Html.ValidationMessageFor(model => model.Utility_Kitchen)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_TeaCoffee, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_TeaCoffee)
                @Html.ValidationMessageFor(model => model.Utility_TeaCoffee)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_Snack, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_Snack)
                @Html.ValidationMessageFor(model => model.Utility_Snack)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Utility_WashMachine, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.Utility_WashMachine)
                @Html.ValidationMessageFor(model => model.Utility_WashMachine)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.MetaKeywords, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.MetaKeywords)
                @Html.ValidationMessageFor(model => model.MetaKeywords)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.MetaTitle, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.MetaTitle)
                @Html.ValidationMessageFor(model => model.MetaTitle)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.MetaDescription, new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.EditorFor(model => model.MetaDescription)
                @Html.ValidationMessageFor(model => model.MetaDescription)
            </div>
        </div>

         <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.HotelId, "HotelId", new { @class = "col-sm-3 control-label no-padding-right" })
           <div class="col-sm-9">
                @Html.DropDownList("HotelId", String.Empty)
                @Html.ValidationMessageFor(model => model.HotelId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
