@using Outsourcing.Core
@model Outsourcing.Data.Models.HMS.CostOrderItem

<div class="form-group ">
    <div class=" col-sm-8 sep">

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CostId)
        @Html.HiddenFor(model => model.CostOrderId)
        @Html.HiddenFor(model => model.Discount)
        <div class="col-sm-12">
            <label class="col-sm-3 control-label no-padding-right " for=""><strong>@Model.Cost.Name</strong></label>
            <div class="col-sm-4">
                <label class="col-sm-6 control-label no-padding-right" for="">Giá</label>
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Price)
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>
        </div>
        <div class="col-sm-12 ">
            <label class="col-sm-3 control-label no-padding-right " for=""> </label>
            <div class="col-sm-4">
                <label class="col-sm-6 control-label no-padding-right" for="">Số lượng</label>
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Quantity)
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </div>
        </div>

    </div>
</div>

