@model Labixa.Areas.Portal.ViewModels.RoomOrders.CreateViewModel

@{
    /**/

    ViewBag.Title = "Create Room Order";
}
@section breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed');
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="@Url.Action("Index")">Quản lý đặt phòng</a>
            </li>
            <li class="active">Thêm order</li>
        </ul>
    </div>
}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("Create", "RoomOrders", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="row">
                    <h3 class="col-sm-12">Thông Tin Khách Hàng</h3>
                    <!--Customer Information Start-->
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.Customer.Name, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Customer.Name, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.Customer.Name)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.Customer.Address, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Customer.Address, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.Customer.Address)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.Customer.Phone, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Customer.Phone, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.Customer.Phone)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.Customer.Email, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Customer.Email, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.Customer.Email)
                        </div>
                    </div>
                    <!--Customer Information End-->
                </div>

                <div class="row">
                    <h3 class="col-sm-12">Thông Tin Phòng</h3>

                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.RoomId, "RoomId", new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.DropDownList("RoomId")
                            @Html.ValidationMessageFor(model => model.RoomOrders.RoomId)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-12">

                        @Html.LabelFor(model => model.RoomOrders.CheckIn, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.RoomOrders.CheckIn, "{0:yyyy-MM-dd}", new { type = "date", @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.CheckIn)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.CheckOut, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.RoomOrders.CheckOut, "{0:yyyy-MM-dd}", new { type = "date", @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.CheckOut)
                        </div>
                    </div>

                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.AmountOfPeople, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.AmountOfPeople, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.AmountOfPeople)
                        </div>
                    </div>

                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Note, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Note, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Note)
                        </div>
                    </div>

                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Price, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Price, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Price)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h3 class="col-sm-12">Thông Tin Dịch Vụ</h3>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Book_Motobike, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Book_Motobike, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Book_Motobike)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.BookCar, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.BookCar, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.BookCar)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Book_Tour, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Book_Tour, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Book_Tour)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Book_BBQService, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Book_BBQService, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Book_BBQService)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Book_Gift, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Book_Gift, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Book_Gift)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Book_Laundry, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Book_Laundry, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Book_Laundry)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Book_FlightTicket, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Book_FlightTicket, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Book_FlightTicket)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Book_Visa, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Book_Visa, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Book_Visa)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Book_Taxi, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Book_Taxi, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Book_Taxi)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Book_SuggestionTour, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Book_SuggestionTour, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Book_SuggestionTour)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.Book_RegisterResidence, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.Book_RegisterResidence, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.Book_RegisterResidence)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.RoomOrders.OtherBookService, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.RoomOrders.OtherBookService, null, new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(model => model.RoomOrders.OtherBookService)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        <strong class="col-sm-3 control-label no-padding-right">Giá dịch vụ</strong>
                        <div class="col-sm-9">
                            <input class="col-xs-10 col-sm-5" type="text" />
                        </div>
                    </div>
                </div>

                @Html.Partial("_PartialButtonGroup", Url.Action("Index"))
            }
        </div>
    </div>
</div>