@model Outsourcing.Data.Models.HMS.RoomOrder

@{
    /**/

    ViewBag.Title = "Preview";
}
@section breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed');
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="@Url.Action("Index")">Quản lý đặt phòng</a>
            </li>
            <li class="active">Checkout</li>
        </ul>
    </div>
}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("Checkcheck", "RoomOrders", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="row">
                    <h3 class="col-sm-12">Thông Tin Khách Hàng</h3>
                    <!--Customer Information Start-->
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.Customer.Name, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Customer.Name, null, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Customer.Name)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.Customer.Address, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Customer.Address, null, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Customer.Address)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.Customer.Phone, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Customer.Phone, null, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Customer.Phone)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.Customer.Email, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Customer.Email, null, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Customer.Email)
                        </div>
                    </div>
                    <!--Customer Information End-->
                </div>

                <div class="row">
                    <h3 class="col-sm-12">Thông Tin Phòng</h3>

                    <div class="form-group col-sm-6 col-md-12">
                            @Html.LabelFor(model => model.RoomId, "RoomId", new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.DropDownList("RoomId")
                                @Html.ValidationMessageFor(model => model.RoomId)
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-12">

                        @Html.LabelFor(model => model.CheckIn, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.CheckIn, "{0:yyyy-MM-dd}", new { type = "date", @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.CheckIn)
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.CheckOut, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.CheckOut, "{0:yyyy-MM-dd}", new { type = "date", @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.CheckOut)
                        </div>
                    </div>

                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.AmountOfPeople, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.AmountOfPeople, null, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.AmountOfPeople)
                        </div>
                    </div>

                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.Note, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Note, null, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Note)
                        </div>
                    </div>

                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.Price, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Price, null, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Price)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h3 class="col-sm-12">Thông Tin Dịch Vụ</h3>
                    @if (Model.Book_Motobike)
                    {
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Book_Motobike, new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(model => model.Book_Motobike, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Book_Motobike)
                            </div>
                        </div>
                    }

                    @if (Model.BookCar)
                    {
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.BookCar, new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(model => model.BookCar, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.BookCar)
                            </div>
                        </div>
                    }

                    @if (Model.Book_Tour)
                    {
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Book_Tour, new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(model => model.Book_Tour, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Book_Tour)
                            </div>
                        </div>
                    }

                    @if (Model.Book_BBQService)
                    {
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Book_BBQService, new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(model => model.Book_BBQService, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Book_BBQService)
                            </div>
                        </div>
                    }


                    @if (Model.Book_Gift)
                    {
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Book_Gift, new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(model => model.Book_Gift, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Book_Gift)
                            </div>
                        </div>
                    }


                    @if (Model.Book_Laundry)
                    {
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Book_Laundry, new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(model => model.Book_Laundry, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Book_Laundry)
                            </div>
                        </div>
                    }


                    @if (Model.Book_FlightTicket)
                    {
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Book_FlightTicket, new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(model => model.Book_FlightTicket, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Book_FlightTicket)
                            </div>
                        </div>
                    }


                    @if (Model.Book_Visa)
                    {
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Book_Visa, new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(model => model.Book_Visa, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Book_Visa)
                            </div>
                        </div>
                    }


                    @if (Model.Book_Taxi)
                    {
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Book_Taxi, new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(model => model.Book_Taxi, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Book_Taxi)
                            </div>
                        </div>
                    }


                    @if (Model.Book_SuggestionTour)
                    {
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Book_SuggestionTour, new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(model => model.Book_SuggestionTour, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Book_SuggestionTour)
                            </div>
                        </div>
                    }


                    @if (Model.Book_RegisterResidence)
                    {
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Book_RegisterResidence, new { @class = "col-sm-3 control-label no-padding-right" })
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(model => model.Book_RegisterResidence, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Book_RegisterResidence)
                            </div>
                        </div>
                    }


                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.OtherBookService, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.OtherBookService, null, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.OtherBookService)
                        </div>
                    </div>

                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.TotalBookPrice, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.TotalBookPrice, null, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.TotalBookPrice)
                        </div>
                    </div>

                    <h3 class="col-sm-12">Thành Tiền</h3>
                    @*<div class="form-group col-sm-6 col-md-12">
            <strong class="col-sm-3 control-label no-padding-right">Tổng</strong>
            <div class="col-sm-9">
                <input class="col-xs-10 col-sm-5" type="text" disabled="disabled" />
            </div>
        </div>*@
                    <div class="form-group col-sm-6 col-md-12">
                        @Html.LabelFor(model => model.Total, new { @class = "col-sm-3 control-label no-padding-right" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Total, null, new { @class = "col-xs-10 col-sm-5", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Total)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="reset" value="Back" class="btn btn-primary" />
                        <input type="submit" value="Thanh toan" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
        <a href="@Url.Action("Index","RoomOrders",null)">Back To List</a>

    </div>
</div>